/* =====================================================
   ROOT
===================================================== */

.root{
    -fx-background-color:#111111;
}

/* =====================================================
   HEADER
===================================================== */

.header{
    -fx-background-color:#1f1f1f;
    -fx-padding:15;
}

.header-title{
    -fx-font-size:28px;
    -fx-font-weight:bold;
    -fx-text-fill:white;
}

/* =====================================================
   BACK BUTTON
===================================================== */

.back-button{
    -fx-background-color:#444;
    -fx-text-fill:white;
    -fx-font-size:15px;
    -fx-background-radius:10;
    -fx-cursor:hand;
}

.back-button:hover{
    -fx-background-color:#666;
}

/* =====================================================
   CARD
===================================================== */

.card{
    -fx-background-color:#1f1f1f;
    -fx-background-radius:15;
    -fx-padding:20;
}

/* =====================================================
   LABEL
===================================================== */

.section-title{
    -fx-font-size:22;
    -fx-font-weight:bold;
    -fx-text-fill:white;
}

.normal-label{
    -fx-font-size:16;
    -fx-text-fill:white;
}

.info-label{
    -fx-font-size:16;
    -fx-text-fill:#dddddd;
}

.total-price{
    -fx-font-size:24;
    -fx-font-weight:bold;
    -fx-text-fill:#4CAF50;
}

/* =====================================================
   SCREEN
===================================================== */

.screen{
    -fx-background-color:white;
    -fx-background-radius:20;
}

/* =====================================================
   SEAT
===================================================== */

.seat-button{

    -fx-pref-width:55;
    -fx-pref-height:45;

    -fx-background-color:#616161;
    -fx-text-fill:white;
    -fx-font-size:13;

    -fx-background-radius:8;

    -fx-cursor:hand;
}

.seat-button:hover{

    -fx-background-color:#757575;

}

/* DIPILIH = HIJAU */

.seat-button:selected{

    -fx-background-color:#43A047;
    -fx-text-fill:white;

}

/* TERISI = MERAH */

.seat-booked{

    -fx-background-color:#D32F2F;
    -fx-text-fill:white;
    -fx-background-radius:8;

}

.seat-booked:hover{

    -fx-background-color:#D32F2F;

}

.seat-booked:disabled{

    -fx-opacity:1;

}

/* =====================================================
   BUTTON LANJUT
===================================================== */

#btnLanjut{

    -fx-background-color:#555;
    -fx-text-fill:#ccc;

    -fx-font-size:18;
    -fx-font-weight:bold;

    -fx-background-radius:12;

}

#btnLanjut:disabled{

    -fx-background-color:#555;
    -fx-text-fill:#aaa;

}

#btnLanjut:hover:armed{

    -fx-background-color:#c62828;

}

#btnLanjut:hover{

    -fx-background-color:#e53935;
    -fx-text-fill:white;

}

/* =====================================================
   SCROLL
===================================================== */

.scroll-pane{

    -fx-background:#111111;
    -fx-background-color:#111111;

}

.scroll-pane > .viewport{

    -fx-background-color:#111111;

}